* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  float: left;
  list-style-type: none;
  /* background-color: #333; */
  width: 100%;
}

li a {
  display: block;
  color: red;
  text-align: center;
  font-size: 30px;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div {
  height: 90vh;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: sticky;
  background-color: red;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
/* .sticky + .content {
  padding-top: 60px;
} */
