* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
}
@media only screen and (min-width: 320px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    transition: 0.6s;
    z-index: 10000;
    .logo {
      position: relative;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      font-size: 30px;
      letter-spacing: 2px;
      padding: 5px 0 0 12px;
      transition: 0.6s;
      font-family: "Charm", cursive;
    }
    ul {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      li {
        position: relative;
        list-style: none;
        font-size: 18px;
      }

      a {
        position: relative;
        text-decoration: none;
        margin: 0 15px;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 700;
      }
    }
  }

  #home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./images/home.jpg);
    background-size: cover;

    #aboutMe {
      text-align: center;
      color: #fff;
      padding: 140px 15px 0 15px;

      h3 {
        padding: 15px 0;
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }

      a {
        font-size: 1rem;
        color: #fff;
        padding: 5px 5px;
        border: #fff solid 2px;
        background-color: #000;
        text-decoration: none;
        margin-top: 25px;
        display: inline-block;
      }
    }
  }

  header.sticky {
    padding: 5px 0;
    background: #eeeeee;
    // opacity: 0.7;

    .logo {
      padding: 0;
      color: #000;
      font-size: 30px;
      transition: 0.6s;
      margin: 0 0 0 100px;
    }

    ul {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      a {
        margin: 0 10px;
        color: #000;
      }
    }
  }

  #portfolio {
    width: 100%;
    background: url(./images/portfolio.jpg);
    background-size: cover;
    opacity: 0.7;

    .bigBox {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .cardContainer {
        border: 2px #000 solid;
        border-radius: 15px;
        width: 90%;
        height: 50vh;
        text-align: center;
        margin: 10px 0;

        .card {
          width: 100%;
          height: 100%;
          text-align: center;
          opacity: 0;
          font-size: 0.8rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &:hover {
            opacity: 1;
          }

          h3,
          p {
            padding: 5px 10px;
            color: #fff;
          }

          a {
            text-decoration: none;
            color: #fff;
            border-right: 2px solid #fff;
            border-radius: 60%;
            padding-right: 8px;
            margin: 10px;

            &:hover {
              border: 2px solid #fff;
              transition: 0.6s;
              padding: 0 5px;
            }
          }
        }
      }

      #alien-invaders {
        background-image: url(./images/alien.jpg);
        background-position: center;
        background-size: cover;
        margin-top: 100px;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 0.8)
            ),
            url(./images/alien.jpg);
        }
      }

      #morse-code {
        background-image: url(./images/Telegraph.jpg);
        background-position: center;
        background-size: cover;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 0.8)
            ),
            url(./images/Telegraph.jpg);
        }
      }

      #vojo {
        background-image: url(./images/vojo.png);
        background-position: center;
        background-size: cover;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 0.8)
            ),
            url(./images/vojo.png);
        }
      }

      #data-generator {
        background-image: url(./images/data.jpg);
        background-position: center;
        background-size: cover;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 0.8)
            ),
            url(./images/data.jpg);
        }
      }
    }
  }

  #contact {
    width: 100%;
    background: url(./images/contact.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.6s;
    padding-top: 50px;

    #media {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .fab {
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0);
        color: #eeeeee;
        margin: 10px;
        text-decoration: none;
      }
    }

    #contact-form {
      width: 90%;
      margin: 35px auto auto auto;
      border: 2px solid #eeeeee;
      border-radius: 15px;
      padding: 5px 10px 10px 10px;

      h2 {
        text-align: center;
        color: #eeeeee;
        font-size: 1.2rem;
      }

      section {
        display: flex;
        flex-direction: column;

        #customerInfo {
          background-color: #eeeeee;
          width: 90%;
          border: 2px solid #eeeeee;
          border-radius: 10px;
          margin: 15px 0;
          padding: 5px;
        }

        label {
          color: #eeeeee;
          font-size: 1rem;
        }

        input {
          border: 2px solid black;
          border-radius: 10px;
          width: 90%;
          font-size: 0.9rem;
          padding: 0 5px;
          background-color: #eeeeee;
        }

        textarea {
          border: 2px solid #000;
          border-radius: 10px;
          width: 90%;
          height: 80px;
          font-size: 1rem;
          padding: 0 5px;
          background-color: #eeeeee;
        }

        #button {
          background-color: #eeeeee;
          margin-top: 10px;
          width: 30%;
        }

        #uniqueCode {
          margin-top: 15px;
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }

  footer {
    background-color: #000;
    height: 40px;
    padding: 8.5px 0;

    h4 {
      text-align: center;
      letter-spacing: 0.5px;
      color: #eeeeee;
    }
  }
}

@media only screen and (min-width: 330px) {
  header {
    .logo {
      padding: 5px 0 0 15px;
    }
  }
}

@media only screen and (min-width: 340px) {
  header {
    .logo {
      padding: 5px 0 0 18px;
    }
  }
}

@media only screen and (min-width: 350px) {
  header {
    .logo {
      padding: 5px 0 0 20px;
    }
  }
  header.sticky {
    .logo {
      margin: 0 0 0 110px;
    }
  }
}
@media only screen and (min-width: 360px) {
  header {
    .logo {
      padding: 5px 0 0 25px;
    }
  }
  header.sticky {
    .logo {
      margin: 0 0 0 118px;
    }
  }
}

@media only screen and (min-width: 375px) {
  #home {
    #aboutMe {
      padding: 200px 15px 0 15px;

      a {
        padding: 5px 8px;
      }
    }
  }

  #portfolio {
    .bigBox {
      .cardContainer {
        .card {
          font-size: 1rem;
        }
      }
    }
  }

  header .logo {
    padding: 5px 0 0 26px;
  }

  header.sticky {
    padding: 5px 0;

    .logo {
      color: #000;
      margin: 0 120px;
      font-size: 30px;
      transition: 0.6s;
    }

    ul {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      li a {
        margin: 0 20px;
      }
    }
  }
}

@media only screen and (min-width: 390px) {
  header {
    .logo {
      padding: 5px 0 0 32px;
    }
  }
}

@media only screen and (min-width: 400px) {
  header {
    .logo {
      padding: 5px 0 0 35px;
    }
  }
}

@media only screen and (min-width: 410px) {
  header {
    .logo {
      padding: 5px 0 0 35px;
    }
  }

  header.sticky {
    .logo {
      margin: 0 134px;
    }
  }
}

@media only screen and (min-width: 415px) {
  header {
    .logo {
      padding: 5px 0 0 38px;
    }
  }
}

@media only screen and (min-width: 425px) {
  header {
    .logo {
      padding: 5px 0 0 14px;
    }

    ul {
      justify-content: space-between;
    }
  }

  #home {
    #aboutMe {
      padding: 200px 15px 0 15px;

      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  #portfolio {
    .bigBox {
      .cardContainer {
        .card {
          font-size: 1rem;
        }
      }
    }
  }

  header.sticky {
    .logo {
      color: #000;
      margin-left: 148px;
      font-size: 30px;
    }

    ul {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }

    li a {
      margin: 0 30px;
    }
  }

  #contact {
    #media {
      a {
        margin: 10px 0;
        font-size: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 10px;
    z-index: 10000;

    .logo {
      padding: 0;
      margin-left: 20px;
    }

    ul {
      justify-content: space-evenly;
      margin-left: 20px;
    }

    li a {
      font-size: 20px;
      font-weight: 600;
    }
  }

  #home {
    #aboutMe {
      padding: 450px 15px 0 15px;

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.3rem;
      }

      a {
        font-size: 1.2rem;
        padding: 5px 8px;
      }
    }
  }

  #portfolio {
    padding: 70px 0 70px 0;
    .bigBox {
      flex-direction: row;

      #alien-invaders {
        margin: 10px 0;
      }
      .cardContainer {
        width: 45%;
        .card {
          font-size: 1.1rem;

          .links {
            a {
              margin: 10px;
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }

  #contact {
    // height: 105vh;
    #contact-form {
      h2 {
        font-size: 2rem;
      }
      section {
        input {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }

        label {
          font-size: 1.2rem;
        }

        textarea {
          margin-bottom: 10px;
          width: 90%;
          font-size: 1.2rem;
        }

        #button {
          width: 30%;
        }
      }
    }
    #media {
      a {
        margin: 10px 0;
      }
    }
  }

  header.sticky {
    padding: 5px 40px;
    background: #eeeeee;

    .logo {
      color: #000;
      margin: 0;
    }

    ul {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }

    li a {
      margin: 0 40px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  header {
    padding-top: 5px;

    .logo {
      padding: 0;
      font-size: 35px;
      margin-left: 20px;
    }

    ul {
      justify-content: space-evenly;
      margin-left: 20px;
    }

    li a {
      font-size: 20px;
      font-weight: 600;
    }
  }
  header.sticky {
    padding: 5px 40px 0 40px;
    background: #eeeeee;

    .logo {
      color: #000;
      margin: 0;
      font-size: 35px;
      font-weight: 1200;
    }

    ul {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }

    li a {
      margin: 0 40px;
      font-size: 22px;
    }
  }

  #home {
    #aboutMe {
      padding: 430px 15px 0 15px;

      h3 {
        font-size: 25px;
      }

      p {
        font-size: 22px;
      }

      a {
        font-size: 18px;
        padding: 5px 8px;
      }
    }
  }

  #portfolio {
    .bigBox {
      .cardContainer {
        .card {
          font-size: 1.4rem;
        }
      }
    }
  }

  #contact {
    height: 105vh;
    #contact-form {
      margin: 20px auto auto 40px;
      width: 40%;
      section {
        input {
          margin-bottom: 10px;
        }

        label {
          margin-bottom: 3px;
        }

        textarea {
          width: 90%;
        }

        #button {
          width: 30%;
        }
      }
    }

    #media {
      margin: 0;
      justify-content: space-evenly;
      width: 46%;
      a {
        margin: 8px 0;
      }
    }
  }
}
